{% extends 'layout.html' %} {% block body %}

<div id="mypage">
  <div class="user-profile">{{ user.u_id +'님의 profile'}}</div>
  <div class="profile-container">
    <!-- <div>회원정보</div> -->
    <ul class="mypage-list">
      <li>
        이름
        <p>{{user.u_name}}</p>
      </li>
      <li>
        아이디
        <p>{{user.u_id}}</p>
      </li>
      <li>
        이메일
        <p>{{user.u_email}}</p>
      </li>
      <li>
        전화번호
        <p>{{user.u_tel}}</p>
      </li>
      <li>
        가입날짜
        <p>{{user.u_reg_dt | date('YY-MM-DD')}}</p>
      </li>
    </ul>
  </div>
  <!-- <button onclick="location.href='users/mypage/update'" class="mypage-update" \>회원정보수정</button> -->
  <button class="btn mypage-update" \><a href="/users/mypage/modify">회원정보수정</a></button>
  <button class="btn mypage-delete" \><a href="/users/mypage/delete">회원탈퇴하기</a></button>
  <!-- <ul class="mypage-list">
  <li>이름 :<input type="text" placeholder="{{user.u_id}}" /></li>
  <li>비밀번호 :<input type="password" /></li>
  <li>이메일 :<input type="email" /></li>
  <li>전화번호 :<input type="text" /></li>
  <li>회원등급 :<input type="text" /></li>
  <li>가입날짜 :<input type="datetime" /></li>
</ul> -->
</div>

<script>
  $('.mypage-delete').click(function () {
    let userDeleteConfirm = confirm(`탈퇴하시면 고객님의 모든 정보가 삭제됩니다 삭제하시겠습니까?`)

    if (userDeleteConfirm == true) {
      return true;
    } else if (userDeleteConfirm == false) {
      return false;
    }
  })
</script>
{% endblock %}